@import url('https://fonts.googleapis.com/css?family=Six+Caps&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cls-1 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

#bgcontainer {
  position: absolute;
  width: 100vw;
  height: 90vh;
  bottom: 0;
}

#bgsvg {
  height: 90vh;
}

.polymorph {
  fill: "#000";
}

.description {
  width: 65%;
  margin-bottom: 50px;
  line-height: 1.5;
}

svg {
  width: 100%;
  height: auto;
}

#svgcontainer {
  max-width: 200px;
  min-width: 100px;
  padding: 20px;
}

.moetitle {
  font-size: 230px;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-weight: 100;
  margin:0;
  font-family: 'Six Caps', sans-serif;
}

.moetivation {
  display: flex;
  align-items: center;
  margin:30px;
}

.section {
  width: 100vw;
  height: 90vh;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
}

.title {
  font-weight: 200;
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  margin: 0;
  margin-left: 17px;
  color: white;
  font-family: 'Six Caps', sans-serif;
}

.subtitle {
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  margin: 0;
  margin-top: 2em;
  margin-left: 0.4em;
  color: black;
  text-align: center;
}

.subtitle .letter {
  display: inline-block;
}

.title .letter {
  display: inline-block;
}

#nav {
  display: flex;
  position: absolute;
  margin-top: 100px;
  font-weight: 200;
  font-size: 1em;
  margin-left: -15px;
  list-style-type: none;
  margin-left: -40px;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  color: white;
}

a {
  text-decoration: none;
  color: #00d5ff;
}

a:visited {
  color: #00d5ff;
}

#nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  cursor: pointer;
}

.icontext {
  opacity: 0;
  color: "#00d5ff";
}

.home {
  position: inline-block;
  z-index: 9;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 5.5em;
    margin-left: 15px;
  }
  .subtitle {
    font-size: 0.7em;
    margin-left: 5px;
  }
  .moetitle {
    font-size: 130px;
  }
  #svgcontainer {
    width: 135px;
    padding: 10px;
  }
  .description {
    margin-bottom: 50px;
    width: 80%;
  }

  #bio {
    justify-content: space-evenly;
    height: auto;
    margin-top: 20px;
  }
  #bio .timeline {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  #bio .timeline:before {
    left: 20px;
  }
  #bio .timeline ul {
    display: flex;
    flex-direction: column-reverse;
  }
  #bio .timeline ul li:nth-child(odd),
  #bio .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  #bio .timeline ul li:nth-child(even) {
    left: 0;
  }
  #bio .timeline ul li:nth-child(odd):before,
  #bio .timeline ul li:nth-child(even):before {
    top: 25px;
    left: 16px;
  }
  #bio .timeline ul li:nth-child(odd) .date {
    top: -25px;
    left: 35px;
    right: inherit;
  }

  #bio .timeline ul li:nth-child(even) .date {
    top: -30px;
    left: 35px;
    right: inherit;
  }
  .navbar .midnav #about:hover,
  .navbar .midnav #contact:hover {
    color: #00d5ff;
  }

  .navbar .midnav #about:hover:after,
  .navbar .midnav #contact:hover:after {
    width: 0px;
  }

  .navbar .midnav #about:after,
  .navbar .midnav #contact:after {
    width: 0px;
  }

  .navbar .midnav #contactSelected:after,
  .navbar .midnav #aboutSelected:after {
    width: 0px !important;
  }

  #msg-section {
    top: 10vh;
  }

  .section .message-form,
  .section .header {
    width: 80%;
  }

  .section .header .contactdetails .hed1 {
    font-size: 40px;
  }

  .section .header .contactdetails .email .hed2 {
    font-size: 15px;
  }

  .section .header .picwrapper .contactpic {
    width: 70px;
    height: 70px;
    border: 0px;
  }
}

#bio {
  height: auto !important;
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 20px;
  padding-top: 40px;
  font-weight: 300;
}

.timeline {
  width: 100vw;
  padding: 40px 0;
  padding-top: 0;
  margin: 0;
  overflow: hidden;
}

.timeline ul {
  display: flex;
  flex-direction: column-reverse;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: #00d5ff;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li h4 {
  font-weight: 400;
  color: gray;
}

.timeline ul li:nth-child(odd) {
  float: right;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
  left: 50%;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 26px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #00d5ff;
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 26px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #00d5ff;
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;

  line-height: 1.5;
}

.timeline ul li:nth-child(odd) .date {
  position: absolute;
  top: 0px;
  right: -210px;
  margin: 0;
  padding: 0px 16px;
  color: #6e6e6e;
}

.timeline ul li:nth-child(even) .date {
  position: absolute;
  top: -6px;
  left: -210px;
  margin: 0;
  padding: 8px 16px;
  color: #6e6e6e;
}

.logo {
  padding: 20px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 3;
  font-size: 13px;
}

.navItem {
  letter-spacing: 0.2ch;
  cursor: pointer;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: white;
}

#about:after,
#contact:after {
  content: "";
  background-color: #00d5ff;
  position: absolute;
  height: 2px;
  width: 0px;
  margin-top: 29px;
  transition: width 0.25s;
}

#about:hover,
#contact:hover {
  color: #00d5ff;
}

#aboutSelected,
#contactSelected {
  color: #00d5ff;
  transition: color 1s;
}

#aboutSelected:after {
  content: "";
  background-color: #00d5ff;
  position: absolute;
  height: 2px;
  width: 60px;
  margin-top: 29px;
  transition: width 1s;
}
#contactSelected:after {
  content: "";
  background-color: #00d5ff;
  position: absolute;
  height: 2px;
  width: 60px;
  margin-top: 29px;
  transition: width 1s;
}

.midnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.rightnav {
  padding-right: 10px;
  display: flex;
  width: 24px;
  height: 24px;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.leftnav {
  width: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

#linkedin:hover {
  fill: #00d5ff;
  cursor: pointer;
}

.message-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
  font-size: 20px;
  font-weight: 200;
}

.message-input {
  color: white;
}

.message-input input,
.message-input textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  background-color: rgb(26, 26, 26);
  border: 0px transparent;
  display: block;
  margin: 0;
  font-size: 20px;
  outline: none;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.message-input:after {
  content: "";
  width: 0px;
  height: 5px;
  display: inline-block;
  margin: 0;
  transition: width 0.75s;
}

#selected-input:after {
  content: "";
  background-color: #00d5ff;
  display: inline-block;
  height: 5px;
  width: 100%;
  margin-bottom: 14px;
  transition: width 0.75s;
}

.submit-button {
  padding: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#submit-button-disabled {
  border: 2px solid white;
  color: white;
  background-color: black;
}

#submit-button-enabled {
  background-color: #00d5ff;
  color: black;
  border: 2px solid #00d5ff;
}

.header {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.hed1,
.hed2 {
  margin: 0;
  font-weight: 200;
  display: block;
}

.hed1 {
  font-size: 55px;
  font-family: 'Six Caps', sans-serif;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.hed2 {
  font-size: 20px;
  color: #00d5ff;
}

.contactpic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00d5ff;
  border: 5px solid #00d5ff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../photos/MoPic.png");
}

.linked {
  width: 20px;
}

.picwrapper {
  padding-right: 20px;
}

.mailiconwrapper {
  width: 20px;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.mailiconwrapper svg {
  fill: #00d5ff;
  width: 20px;
  margin: 0;
  padding: 0;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loadingscreen {
  position: absolute;
  z-index: 900;
  display: flex;
  width: 100vw;
  height: 90vh;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.loadingmodal {
  padding-bottom: 20px;
  color: #00d5ff;
  width: 150px;
  padding: 20px;
  text-align: center;
  background-color: black;
}

.loadingmodal p {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

.close-btn {
  width: 100%;
  border-radius: 0;
  padding: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 200;
  outline: none;
  border: 0;
  background-color: black;
  color: #00d5ff;
  border: 2px solid #00d5ff;
}

.close-btn:hover {
  background-color: #00d5ff;
  color: black;
}
