body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cls-1 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}


#bgcontainer {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#bgsvg {
  height: 100vh;
}

.polymorph {
  fill: "#000";
}

.description {
  width: 50%;
  text-align: justify;
  margin-bottom: 50px;
}

svg {
  width: 100%;
  height: auto;
}

#svgcontainer {
  max-width: 220px;
  min-width: 200px;
}

.moetitle {
  font-size: 150px;
}



.moetivation {
  display: flex;
  align-items: center;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 200;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  cursor: pointer;
  margin: 0;
  color:white;
}

.subtitle {
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.8em;
  color: white;
  margin-left: -15px;
  text-align: center;
}

.subtitle .letter {
  display: inline-block;
  line-height: 2em;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}

#nav {
  display: flex;
  position: absolute;
  margin-top:80px;
  font-weight: 200;
  font-size: 1em;
  margin-left: -15px;
  list-style-type: none;
  margin-left:-40px;
  align-items: center;
  justify-content: space-between;
  width:120px;
  color: white;
}

a {
  text-decoration: none;
}

#nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px;
  cursor: pointer;
}

.icontext {
  opacity: 0;
  color: "#00d5ff";
}

.home {
  position: inline-block;
  z-index:9;
  width:50px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 2em;
    margin-left:11px;
  }
  .subtitle {
    font-size: 0.7em;
    margin-left: 5px;
  }
  .moetitle {
    font-size:90px;
  }
  #svgcontainer {
    width:200px;
  }
  .description {
    margin-bottom:50px;
  }

  #bio {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2em;
    margin-left:11px;
  }
  .subtitle {
    font-size: 0.7em;
    margin-left: 5px;
  }
  .moetitle {
    font-size:40px;
  }
  #svgcontainer {
    width:200px;
  }
  .description {
    margin-bottom:50px;
  }

  #bio {
    justify-content: space-evenly;
  }
}

#linkedin {
  stroke: blue;
}



#right {
  flex-direction: column;
    height: 630px;
    width: 320px;
}

.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 80%;
  outline: none !important;
}
input::-moz-focus-inner { 
  border: 0; 
}
#submit {
  color: #707075;
  margin-top: 40px;
  transition: color 300ms;
  text-align: center;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}